<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WFBSEntities" connectionString="metadata=res://*/ModeloWfbs.csdl|res://*/ModeloWfbs.ssdl|res://*/ModeloWfbs.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=Cliente-PC:1521/XE;PASSWORD=hr;USER ID=HR&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>